############################
# Node.js and frameworks
############################

node_modules
build
dist
license.txt
exports
*.cache
.strapi-updater.json
vite.config.js.timestamp-*
vite.config.ts.timestamp-*
.svelte-kit
.turbo

############################
# Logs
############################

logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

############################
# Databases
############################

.tmp
*.sql
*.sqlite*
*.sqlite3
!packages/db/migrations/*

############################
# Env variable files
############################
.env
.envx
.env.*
.env.development.local
.env.test.local
.env.production.local
.env.local
!.env.example

############################
# Misc
############################

public/uploads/*
!public/uploads/.gitkeep
.misc

############################
# OS X
############################

.DS_Store
.AppleDouble
.LSOverride
Icon
.Spotlight-V100
.Trashes
._*

############################
# Linux
############################

*~

############################
# Windows
############################

Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/
*.cab
*.msi
*.msm
*.msp

############################
# Packages
############################

*.7z
*.csv
*.dat
*.dmg
*.gz
*.iso
*.jar
*.rar
*.tar
*.zip
*.com
*.class
*.dll
*.exe
*.o
*.seed
*.so
*.swo
*.swp
*.swn
*.swm
*.out
*.pid
