---
const { title } = Astro.props;
---

<details class="collapse mt-3 bg-neutral/10">
  <summary class="collapse-title text-base font-semibold">{title}</summary>
  <div class="collapse-content text-sm"><slot /></div>
</details>
