<header class="fixed right-0 bottom-4 left-0 z-10 mx-auto h-14 w-2xs px-6 sm:w-xs md:w-sm">
  <div class="h-full w-full rounded-box bg-base-300 shadow-md outline outline-neutral/5">
    <div class="flex h-full">
      <div class="flex flex-grow-2 items-center p-4">
        <a role="button" class="btn btn-square btn-ghost btn-md">
          <span class="icon-[ri--home-3-line] h-full w-6"></span>
        </a>
      </div>
      <div class="divider m-0 divider-horizontal py-2"></div>
      <div class="flex shrink-1 items-center gap-1 p-2">
        <a role="button" class="btn btn-square btn-ghost btn-md">
          <span class="icon-[ri--add-circle-line] h-full w-6"></span>
        </a>
        <a role="button" class="btn btn-square btn-ghost btn-md">
          <span class="icon-[ri--add-circle-line] h-full w-6"></span>
        </a>
      </div>
    </div>
  </div>
</header>
