<header class="w-2xs sm:w-xs md:w-sm fixed bottom-4 left-0 right-0 z-10 mx-auto h-14 px-6">
  <div class="bg-base-300 rounded-box outline-neutral/5 h-full w-full shadow-md outline">
    <div class="flex h-full">
      <div class="flex-grow-2 flex items-center p-4">
        <a role="button" class="btn btn-square btn-ghost btn-md">
          <span class="icon-[ri--home-3-line] h-full w-6"></span>
        </a>
      </div>
      <div class="divider divider-horizontal m-0 py-2"></div>
      <div class="shrink-1 flex items-center gap-1 p-2">
        <a role="button" class="btn btn-square btn-ghost btn-md">
          <span class="icon-[ri--add-circle-line] h-full w-6"></span>
        </a>
        <a role="button" class="btn btn-square btn-ghost btn-md">
          <span class="icon-[ri--add-circle-line] h-full w-6"></span>
        </a>
      </div>
    </div>
  </div>
</header>
