@import 'tailwindcss';
@plugin '@tailwindcss/typography';
@plugin '@tailwindcss/aspect-ratio';
@plugin "@iconify/tailwind4";

@theme inline {
  --font-sans: var(--font-ibm-plex-sans);

  --color-nodejs: var(--nodejs-color);
  --color-deno: var(--deno-color);
  --color-python: var(--python-color);
  --color-svelte: var(--svelte-color);
  --color-react: var(--react-color);
  --color-nestjs: var(--nestjs-color);
  --color-expressjs: var(--expressjs-color);
  --color-graphql: var(--graphql-color);
  --color-restapi: var(--restapi-color);
  --color-payloadcms: var(--payloadcms-color);
  --color-strapi: var(--strapi-color);
  --color-mysql: var(--mysql-color);
  --color-sqlite: var(--sqlite-color);
  --color-mongodb: var(--mongodb-color);
  --color-docker: var(--docker-color);
  --color-astro: var(--astro-color);
  --color-fastapi: var(--fastapi-color);
}

@plugin "daisyui" {
  themes: light, dark;
  root: ':root';
  exclude: rootcolor, properties;
  logs: false;
}

@plugin "daisyui/theme" {
  name: 'light';
  default: true;
  color-scheme: 'light';

  --color-base-100: oklch(100% 0 0);
  --color-base-200: oklch(97% 0 0);
  --color-base-300: oklch(94% 0 0);
  --color-base-content: oklch(0% 0 0);
  --color-primary: oklch(15.906% 0 0);
  --color-primary-content: oklch(100% 0 0);
  --color-secondary: oklch(21.455% 0.001 17.278);
  --color-secondary-content: oklch(100% 0 0);
  --color-accent: oklch(26.861% 0 0);
  --color-accent-content: oklch(100% 0 0);
  --color-neutral: oklch(0% 0 0);
  --color-neutral-content: oklch(100% 0 0);
  --color-info: oklch(69.47% 0.118 239.52);
  --color-info-content: oklch(13.91% 0.024 241.35);
  --color-success: oklch(67.31% 0.162 144.21);
  --color-success-content: oklch(13.37% 0.032 143.51);
  --color-warning: oklch(79.72% 0.164 69.62);
  --color-warning-content: oklch(15.88% 0.034 70.88);
  --color-error: oklch(64.27% 0.215 28.81);
  --color-error-content: oklch(12.53% 0.044 26.42);
  --radius-selector: 1rem;
  --radius-field: 1rem;
  --radius-box: 1rem;
  --size-selector: 0.25rem;
  --size-field: 0.25rem;
  --border: 1px;
  --depth: 0;
  --noise: 0;
}

@plugin "daisyui/theme" {
  name: 'dark';
  default: false;
  color-scheme: 'dark';

  --color-base-100: oklch(0% 0 0);
  --color-base-200: oklch(20% 0 0);
  --color-base-300: oklch(22% 0 0);
  --color-base-content: oklch(87.609% 0 0);
  --color-primary: oklch(84.094% 0 0);
  --color-primary-content: oklch(0% 0 0);
  --color-secondary: oklch(78.545% 0.001 197.278);
  --color-secondary-content: oklch(0% 0 0);
  --color-accent: oklch(73.139% 0 0);
  --color-accent-content: oklch(0% 0 0);
  --color-neutral: oklch(100% 0 0);
  --color-neutral-content: oklch(0% 0 0);
  --color-info: oklch(69.47% 0.118 239.52);
  --color-info-content: oklch(13.91% 0.024 241.35);
  --color-success: oklch(67.31% 0.162 144.21);
  --color-success-content: oklch(13.37% 0.032 143.51);
  --color-warning: oklch(79.72% 0.164 69.62);
  --color-warning-content: oklch(15.88% 0.034 70.88);
  --color-error: oklch(64.27% 0.215 28.81);
  --color-error-content: oklch(12.53% 0.044 26.42);
  --radius-selector: 1rem;
  --radius-field: 1rem;
  --radius-box: 1rem;
  --size-selector: 0.25rem;
  --size-field: 0.25rem;
  --border: 1px;
  --depth: 0;
  --noise: 0;
}

@layer base {
  :root,
  [data-theme] {
    @apply bg-base-100 text-base-content;
  }

  :root {
    --nodejs-color: oklch(50% 0.14 145);
    --deno-color: oklch(30% 0 0);
    --python-color: oklch(45% 0.11 235);
    --svelte-color: oklch(55% 0.23 30);
    --react-color: oklch(60% 0.13 220);
    --nestjs-color: oklch(50% 0.2 20);
    --expressjs-color: oklch(25% 0 0);
    --graphql-color: oklch(50% 0.25 345);
    --restapi-color: oklch(30% 0 0);
    --payloadcms-color: oklch(30% 0 0);
    --strapi-color: oklch(48% 0.18 255);
    --mysql-color: oklch(48% 0.08 230);
    --sqlite-color: oklch(55% 0.05 230);
    --mongodb-color: oklch(55% 0.12 145);
    --docker-color: oklch(60% 0.17 240);
    --astro-color: oklch(58% 0.22 30);
    --fastapi-color: oklch(50% 0.15 160);
  }

  [data-theme='dark'] {
    --nodejs-color: oklch(59.7% 0.14 145);
    --deno-color: oklch(85% 0 0);
    --python-color: oklch(53.5% 0.11 235);
    --svelte-color: oklch(61.8% 0.23 30);
    --react-color: oklch(85.8% 0.13 220);
    --nestjs-color: oklch(56.8% 0.2 20);
    --expressjs-color: oklch(75% 0 0);
    --graphql-color: oklch(58.5% 0.25 345);
    --restapi-color: oklch(85% 0 0);
    --payloadcms-color: oklch(85% 0 0);
    --strapi-color: oklch(55% 0.18 255);
    --mysql-color: oklch(56% 0.08 230);
    --sqlite-color: oklch(45% 0.05 230);
    --mongodb-color: oklch(62% 0.12 145);
    --docker-color: oklch(67% 0.17 240);
    --astro-color: oklch(65% 0.22 30);
    --fastapi-color: oklch(60% 0.15 160);
  }

  body {
    font-family: var(--font-sans);
  }
}

@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));
