---
import { Content as LegalNotice } from '$/content/legal-notice.mdx';
import PageLayout from '$/layouts/page-layout.astro';
---

<PageLayout seo={{ title: 'Imprint', noindex: true }}>
  <Fragment slot="main">
    <div
      class="prose prose-sm max-w-none rounded-box bg-base-300 p-6 text-base-content prose-h2:text-2xl">
      <LegalNotice />
    </div>
  </Fragment>
</PageLayout>
