---
import type { Technology } from '$/content/schemas/technology';
import Intro from '$/components/intro.astro';
import TechnologyGrid from '$/components/technology-grid.svelte';
import PageLayout from '$/layouts/page-layout.astro';
import { getCollection } from 'astro:content';

const technologies = (await getCollection('technologies')).reduce(
  (acc, item) => {
    if (!acc[item.data.type]) {
      acc[item.data.type] = [];
    }
    acc[item.data.type].push(item.data);
    return acc;
  },
  {} as { [key in Technology['type']]: Technology[] }
);
---

<PageLayout>
  <div class="rounded-box bg-base-300 p-4">
    <div class="flex flex-col gap-8">
      <Intro />
      <section class="rounded-box bg-neutral/10 p-4">
        <!-- No type suggestions - need fix! -->
        <TechnologyGrid client:load data={technologies} />
      </section>
    </div>
  </div>
</PageLayout>
