---
import Intro from '$/components/intro.astro';
import PageLayout from '$/layouts/page-layout.astro';
---

<PageLayout>
  <div class="flex flex-col gap-8">
    <Intro />
    <section class="bg-neutral/10 rounded-box p-4 text-sm">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Saepe tenetur libero optio quos
      cumque mollitia qui sapiente harum cum minima. Eum quia consectetur iste iusto exercitationem,
      voluptatibus quidem atque. Numquam?
    </section>
    <section class="bg-neutral/10 rounded-box p-4 text-sm">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Saepe tenetur libero optio quos
      cumque mollitia qui sapiente harum cum minima. Eum quia consectetur iste iusto exercitationem,
      voluptatibus quidem atque. Numquam?
    </section>
    <section class="bg-neutral/10 rounded-box p-4 text-sm">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Saepe tenetur libero optio quos
      cumque mollitia qui sapiente harum cum minima. Eum quia consectetur iste iusto exercitationem,
      voluptatibus quidem atque. Numquam?
    </section>
    <section class="bg-neutral/10 rounded-box p-4 text-sm">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Saepe tenetur libero optio quos
      cumque mollitia qui sapiente harum cum minima. Eum quia consectetur iste iusto exercitationem,
      voluptatibus quidem atque. Numquam?
    </section>
  </div>
</PageLayout>
