name: web-preview
run-name: Web - Deploy (preview)

on:
  pull_request:
    types: [opened, synchronize, reopened, labeled]
    paths:
      - 'apps/web/**'

concurrency:
  group: web-preview-${{ github.event.pull_request.number }}
  cancel-in-progress: true

jobs:
  should-run:
    runs-on: ubuntu-latest
    if: contains(github.event.pull_request.labels.*.name, 'preview')
    steps:
      - run: echo "Preview label detected."

  build:
    needs: should-run
    uses: ./.github/workflows/web-build.yaml
    secrets: inherit
    with:
      environment: 'preview'
      pr_number: '${{ github.event.pull_request.number }}'

  deploy:
    needs: build
    runs-on: ubuntu-latest
    environment:
      name: preview
      url: ${{ steps.preview.outputs.url }}
    defaults:
      run:
        working-directory: apps/web
    env:
      WEB_WORKER_NAME: portfolio-pr-${{ github.event.pull_request.number }}
      SITE_URL: https://portfolio-pr-${{ github.event.pull_request.number }}.${{ vars.WORKER_DEV_URL }}
      WRANGLER_VERSION: 4.51.0
    steps:
      - name: Checkout
        uses: actions/checkout@v5
        with:
          sparse-checkout: |
            apps/web/wrangler.jsonc
            apps/web/.env.preview
          sparse-checkout-cone-mode: false

      - name: Install Node.js
        uses: actions/setup-node@v4
        with:
          node-version: 20

      - name: Restore build output
        uses: actions/cache/restore@v4
        with:
          path: apps/web/dist
          key: web-build-preview-${{ github.sha }}
          fail-on-cache-miss: true

      - name: Deploy
        uses: cloudflare/wrangler-action@v3.14.1
        with:
          apiToken: ${{ secrets.CLOUDFLARE_API_TOKEN }}
          accountId: ${{ secrets.CLOUDFLARE_ACCOUNT_ID }}
          wranglerVersion: ${{ env.WRANGLER_VERSION }}
          workingDirectory: apps/web
          environment: preview
          preCommands: |
            npx @dotenvx/dotenvx set SITE_URL "$SITE_URL" -f .env.preview
            npx @dotenvx/dotenvx get -f .env.preview | jq 'del(.DOTENV_PUBLIC_KEY_PREVIEW)' | npx wrangler secret bulk --name $WEB_WORKER_NAME --env=""
          command: deploy --name ${{ env.WEB_WORKER_NAME }}
        env:
          DOTENV_PRIVATE_KEY_PREVIEW: ${{ secrets.DOTENV_PRIVATE_KEY_PREVIEW }}

      - name: Get preview URL
        id: preview
        run: echo "url=${{ env.SITE_URL }}" >> $GITHUB_OUTPUT
