---
import '@fontsource-variable/ibm-plex-sans';
import '$/styles/index.css';
import Header from '$/components/header.astro';
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <title>n5n</title>
  </head>
  <body class="antialiased">
    <div class="isolate">
      <div class="max-w-screen overflow-x-hidden">
        <div class="flex min-h-dvh min-w-2xs flex-col">
          <main class="@container/main mx-auto w-full max-w-3xl flex-grow p-6 pb-22">
            <div class="rounded-box bg-base-300 p-4">
              <slot />
            </div>
          </main>
        </div>
        <Header />
      </div>
    </div>
  </body>
</html>
