---
import '$/styles/index.css';
import Header from '$/components/header.svelte';
import { Font } from 'astro:assets';
---

<!doctype html>
<html lang="en">
  <head>
    <Font cssVariable="--font-ibm-plex-sans" preload />
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png" />
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png" />
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png" />
    <link rel="manifest" href="/site.webmanifest" />
    <title>n5n</title>
    <script is:inline>
      const isBrowser = typeof localStorage !== 'undefined';

      const getThemePreference = () => {
        if (isBrowser && localStorage.getItem('color-theme')) {
          return localStorage.getItem('color-theme');
        }
        return window.matchMedia('(prefers-color-scheme: dark)').matches ? 'dark' : 'light';
      };

      const theme = getThemePreference();
      document.documentElement.setAttribute('data-theme', theme);

      if (isBrowser) {
        const observer = new MutationObserver(() => {
          const theme = document.documentElement.getAttribute('data-theme');
          localStorage.setItem('color-theme', theme);
        });

        observer.observe(document.documentElement, {
          attributes: true,
          attributeFilter: ['data-theme']
        });
      }
    </script>
  </head>
  <body class="antialiased">
    <div class="isolate">
      <div class="max-w-screen overflow-x-hidden">
        <div class="flex min-h-dvh min-w-2xs flex-col">
          <main class="@container/main mx-auto w-full max-w-3xl flex-grow p-6 pb-22">
            <div class="rounded-box bg-base-300 p-4">
              <slot />
            </div>
          </main>
        </div>
        <Header client:load />
      </div>
    </div>
  </body>
</html>
